img {
    width: 30%;
    margin: 1.66%;
    float: left;
}

h2 {
    width: 30%;
    font-family: Lato;
    margin-left: 1.66%;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(202, 202, 202, .6);
    padding-bottom: 20px;
}