body {
    color: rgb(145, 163, 202);
    background: #14161b;
}

#ele1 {
    color: rgb(197, 115, 104);
}

h1 {
    text-align: center;
}

.checkbox:checked + span {
    text-decoration: line-through;
}